html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: bisque;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: cadetblue;
  text-align: center;
}

article {
  border: 2px solid white;
  border-radius: 20px;
  background-color: cadetblue;
  padding: 0px;
  overflow: hidden;
  margin: 10px;  
}

article > header {
  background-color: aquamarine;
  padding: 0;
  margin: 0;
}

article > header > h2 {
  padding: 20px;
  margin: 0;
  color: cadetblue;
}

article > p {
  padding: 10px;
}

nav li.on {
  font-weight: bold;  
}

nav li.on::after {
  content: 'â†';
  color: red;
  font-weight: 900;
}
nav li {
  margin: 5px 0 5px 0;
}
nav li > a {
  padding: 5px;
}
nav li.on > a {
  border: 2px solid red;
  border-radius: 10px;
}